<ion-header>
  <ion-toolbar> 
    <ion-menu-button color="dark" slot="start"></ion-menu-button>
    <ion-router-link fill="clear" href="/pages/splashscreen">
      <img src="./assets/images/logo-title.png">
    </ion-router-link>
    <ion-button slot="end" fill="clear" color="dark" (click)="callButton()">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-page">
    <h2>JUKEBOX</h2>
    <h3>Aggiungi Canzoni in Coda</h3>
  </div>
  <ion-segment (ionChange)="show($event)" value="canzoni">
    <ion-segment-button value="canzoni">
      <ion-label>Canzoni</ion-label>
    </ion-segment-button>

    <ion-segment-button value="coda">
      <ion-label>Coda</ion-label>
    </ion-segment-button>

  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let item of available_songs" slot="start">
      <img class="song-cover" src="{{item.copertina}}">
      <ion-button class="song-button" (click)=presentAlertConfirm(item.id,item.titolo) expand="full" fill="clear" color="dark">
        {{item.titolo}}
      </ion-button>
    </ion-item>

    <ion-item *ngFor="let item of unavailable_songs" slot="start">
      <img class="song-cover" src="{{item.copertina}}">
      <ion-button class="song-button-un" disabled expand="full" fill="clear" color="dark">
        {{item.titolo}}
      </ion-button>
    </ion-item>

    <ion-item *ngFor="let item of queue_songs" slot="start">
      <img class="song-cover" src="{{item.copertina}}">
      <ion-label class="song-button" expand="full" fill="clear" color="dark">{{item.titolo}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>