.song-button, .song-button-un, .song-label{
    font-size: 20px;
}

.song-button-un{
    text-decoration: line-through;
}

.song-id{
    display:none
}

.song-cover{
    width: 20%;
    height: 100%;
}

ion-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


ion-title{
    max-width: 100%;
}
ion-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-menu-button,.call{
    width: 20%;
    max-width: 20%;
}