ion-title{
    max-width: 100%;
    width: 100%;
  }
  
  ion-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu,.call{
    width: 20%;
    max-width: 20%;
  }
  
  #call-icon{
    width: 85%;
    height: 85%;
  }
  
  ion-menu-button{
    font-size: 40px;
  }
  .call-icon{
    z-index: 10;
  }
  