.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
ion-header{
    display: flex;
    left:0;
    align-items: center;
}

.hamburger{
    transform: scale(1.2);
}