ion-card{
    display: flex;
    justify-content: center;
}

ion-title{
    max-width: 100%;
    width: 100%;
}

ion-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu,.call{
    width: 20%;
    max-width: 20%;
}

ion-icon{
    width: 85%;
    height: 85%;
}

ion-menu-button{
    font-size: 40px;
}
menu-img{
    max-width: fit-content;
}
