<ion-header>
  <ion-toolbar>
    <ion-title mode="ios">
      <ion-router-link fill="clear" href="/pages/home">
        <img id="logo" src="./assets/images/logo-title.png">
      </ion-router-link>
    </ion-title>
    <ion-menu-button color="dark" slot="start" ></ion-menu-button>
    <ion-button class="call" slot="end" fill="clear" color="dark" (click)="callButton()">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content scrollY="false">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="riga1">
    <div class="birra" (click)="open_beer(i.nome)" id={{item.colore}} [style.backgroundColor] = "item.colore" *ngFor="let item of birre | slice:0:2;">
      <img class="img-birra" src="http://localhost:3000{{item.logo}}">
      <div class="nome">{{item.nome}}</div>
    </div>
  </div>
  <div class="riga2">
    <div class="birra" (click)="open_beer(i.nome)" id={{item.colore}} [style.backgroundColor] = "item.colore" *ngFor="let item of birre | slice:2:4;">
      <img class="img-birra" src="http://localhost:3000{{item.logo}}">
      <div class="nome">{{item.nome}}</div>
    </div>
  </div>
  <div class="riga3">
    <div class="birra" (click)="open_beer(i.nome)" id={{item.colore}} [style.backgroundColor] = "item.colore" *ngFor="let item of birre | slice:4:6;">
      <img class="img-birra" src="http://localhost:3000{{item.logo}}">
      <div class="nome">{{item.nome}}</div>
    </div>
    <div class="birra" (click)="open_beer(i.nome)">
      <img class="logo" src="./assets/images/logo.png">
    </div>
  </div>
</ion-content>
