<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content scroll-y="false">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="riga1">
    <div class="birra"id=birra{{item.id}} *ngFor="let item of birre | slice:0:2;">
      <img class="img-birra" src="https://fa73-37-163-59-138.ngrok.io{{item.circle_logo}}">
      <div class="nome">{{item.nome}}</div>
    </div>
  </div>
  <div class="riga2">
    <div class="birra" id=birra{{item.id}} *ngFor="let item of birre | slice:2:4;">
      <img class="img-birra" src="https://fa73-37-163-59-138.ngrok.io{{item.circle_logo}}">
      <div class="nome">{{item.nome}}</div>
    </div>
  </div>
  <div class="riga3">
    <div class="birra" id=birra{{item.id}} *ngFor="let item of birre | slice:4:6;">
      <img class="img-birra" src="https://fa73-37-163-59-138.ngrok.io{{item.circle_logo}}">
      <div class="nome">{{item.nome}}</div>
    </div>
    <div class="birra" >
      <img class="logo" src="./assets/images/logo.webp">
    </div>
  </div>
</ion-content>