<ion-header>
	<app-header></app-header>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="background">
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
    <div class="cerchi"></div>
  </div>

  <div class="card">
    <div class="container">
      <img src="" id="birrificio">
      <p id="titolo"></p>
      <div class="info">
        <div class="col1">
          <div class="stile">
            <span class="header">stile</span>
            <p id="stile-p"></p>
          </div>
          <div class="colore">
            <span class="header">colore</span>
            <div class="colore-div">
              <div id=colore-rett></div>
              <p id="colore-p">DORATO</p>
            </div>
          </div>
          <div class="prezzo02">
            <ion-icon id="icon-02" name="beer"></ion-icon>
            <div class="info-prezzo02">
              <span class="header">0,27cl</span>
              <p id="prezzo02-p"></p>
            </div>
          </div>
        </div>
        <div class="col2">
          <div class="abv">
            <span class="header">abv</span>
            <p id="abv-p"></p>
          </div>
          <div class="nazione">
            <p class="header">nazione</p>
            <div class="nazione-div">
              <img id="bandiera" src="">
              <p id="nazione-p"></p>
            </div>
          </div>
          <div class="prezzo04">
            <ion-icon id="icon-04" name="beer"></ion-icon>
            <div class="info-prezzo04">
              <span class="header">0,44cl</span>
              <p id="prezzo04-p"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</ion-content>
