ion-card{
    position: absolute;
    bottom: 0;
    height: 60%;
    margin: 0;   
    background-color:#f2f2f2;
    border-radius: 30% 30% 0px 0px;
}

ion-content{
    --ion-background-color:#F8B133;
}