<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" lines="inset">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="inset" detail="false" routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-list id="footer">
        <ion-item>
          <ion-button expand="block" id="num-but" class="foot-call" fill="clear" (click)="call()">
            <ion-icon color="success" name="call"></ion-icon>
            <ion-label id="numero">+39 331 437 8428</ion-label>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
