ion-content{
  --ion-background-color: #f3f3f3;
  --background: var(--ion-item-background, var(--ion-background-color, #f3f3f3));
}

ion-header{
  z-index: 1;
}

ion-menu,ion-list{
  --ion-background-color: var(--ion-color-primary);
}


ion-menu.md ion-item.selected {
  --background: rgba(var(0,0,0), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-secondary);
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  font-size: 20px
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected {
  color: var(--ion-color-secondary);
}

ion-menu.ios ion-item {
  font-size: 24px;
  color: #000;
}

ion-item.selected {
  --color: var(--ion-color-secondary);
}

ion-item.md.selected {
  --color: var(--ion-color-secondary);
}
.foot-call{
  font-size: 100%;
}
#numero{
  color: black;
}


ion-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-header{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-orizzontale{
  width: 70%;
  height: auto;
}

ion-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

a{
  width: 100%;
  height: 100%;
}

#instagram{
  width: 100%;
  height: 100%;
  color: #952966;
}

#facebook{
  height: 100%;
  width: 100%;
  color: #3B5998;
}

