ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #f3f3f3));
}

#main-content{
  background-image:  url("https://d61d-79-19-191-69.ngrok.io/static/fondo-app.png");
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  color: #73849a;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(0,0,0), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-secondary);
}

ion-menu.md ion-item ion-icon {
  color: #73849a;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  font-size: 20px
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected {
  color: var(--ion-color-secondary);
}

ion-menu.ios ion-item {
  font-size: 24px;
  color: #73849a;
}

ion-item.selected {
  --color: var(--ion-color-secondary);
}
ion-item.md.selected {
  --color: var(--ion-color-secondary);
}

// CUSTOM SECTION 

.foot-call{
  color: #73849a;
  width: 100%;
  height: 100%;
}

#footer{
  height: 10%;
}

/* .button-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 */ 