
<ion-content scroll-y="false">
  <div class="logo">
    <img src="./assets/images/logo-contorno.webp">
  </div>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label position="stacked">Nome</ion-label>
        <div class="input-div">
          <ion-input></ion-input>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Cognome</ion-label>
        <div class="input-div">
          <ion-input></ion-input>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Età</ion-label>
        <div class="input-div">
          <ion-input></ion-input>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">E-mail</ion-label>
        <div class="input-div">
          <ion-input></ion-input>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
