ion-card{
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


ion-title{
    max-width: 100%;
}
ion-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu,.call{
    width: 20%;
    max-width: 20%;
}

ion-icon{
    width: 90%;
    height: 90%;
}

ion-menu-button{
    font-size: 40px;
}

