
<ion-content scrollY="false">
  <div class="head">
    <div class="logo">
      <img id="esagono" src="./assets/images/logo.webp">
      <img id="scritta" src="./assets/images/logo-title.webp">
    </div>
  </div>
  <div class="card-div">
    <div class="card">
      <div class="qr-div">
        <img id="qr-img" src="https://www.kaspersky.it/content/it-it/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png">
      </div>
      <div class="code-div">
        <h1 id="code">D78C5D7</h1>  
      </div>
      <div class="description-div">
        <h3 id="description">Codice sconto del </h3><h1 id="10">    10%</h1>  
      </div>
    </div>
  </div>

</ion-content>